@font-face {
	font-family: "Argot";
	src: url('./argot.ttf') format('truetype');
}
@font-face {
	font-family: "Hacked";
	src: url('./HACKED.ttf') format('truetype');
	
}

body {
	padding: 0px;
	margin: 0px !important;
	font-family: 'Hacked';
	letter-spacing: 2px;
}



:root {
	--fancygreen: #20C20E;
	--darkgrey: rgb(78, 78, 78);
}

/* chat messageboard */

#chat {
	background-color: grey;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 300px;
	height: 440px;
	border-radius: 10px;
	z-index: 5;
}

#chat::after {
	content: " ";
	background-color: var(--darkgrey);
	z-index: 1;
	position: absolute;
	bottom: 2px;
	left: calc(50% - 20px);
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#chat::before {
	content: " ";
	background-color: var(--darkgrey);
	z-index: 44;
	position: absolute;
	right: -5px;
	width: 10px;
	height: 40px;
	top: 20%;
	border-radius: 4px;
	z-index: -1;
}

.chat--body_container {
	background-color: blue;
	width: calc(100% - 30px);
	height: calc(100% - 60px);
	margin: 15px;
	padding-bottom: 40px;
	box-sizing: border-box;
	border-radius: 10px;
}

.chat--input_container {
	position: absolute;
	bottom: 50px;
	width: calc(100% - 40px);
	left: 20px;
	right: -20px;
}

.chat--input_container #chatSendBtn {
	float: right;
}

.chat--item {
	display: block;
	background-color: greenyellow;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
}

.chat--name {
	font-weight: 900;
	text-transform: capitalize;
	font-size: 13px;
	background-color: coral;
	padding-left: 10px;
	padding-right: 10px;
}

.chat--message {
	font-size: 12px;
}

.chat--item.right>.chat--name {
	float: right;
}

/* main app */
#app {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	right: 0px;
}

.scoreboard--wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 5;
	height: 70px;
}

.scoreboard {
	margin: auto;
	max-width: 20vw;
	width: auto;
	text-align: center;
	font-size: 25px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 900;
	border-radius: 10px;
	position: relative;
}

.scoreboard>span {
	display: block;
}

#scoreboard::after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--darkgrey);
	z-index: -1;
	transform: skew(20deg);
}

#scoreboard::before {
	content: " ";
	position: absolute;
	top: 5px;
	left: 5px;
	right: -8px;
	bottom: -5px;
	background-color: var(--fancygreen);
	z-index: -1;
	transform: skew(20deg);
}


.window--wrapper {
	position: relative;
	height: 70vh;
	background-color: var(--darkgrey);
	top: 150px;
}

#window {
	max-width: 40vw;
	margin: auto;
	height: 100%;
	background-color: wheat;
	border: 2px solid black;
	border-radius: 20px;
	position: relative;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	color: red;
	font-size: 26px;
	cursor: pointer;

}

#app>.left {
	position: relative;
	z-index: 3;
	height: 100%;
	display: flex;
	flex: 65;
}

#app>.right {
	position: relative;
	display: flex;
	z-index: 3;
	height: calc(100% - 70px);
	flex: 35;
	flex-wrap: wrap;
	margin-top: 70px;
	box-sizing: border-box;
}

#app>.right>div {
	background-color: var(--darkgrey);
	width: 100%;
	height: 38%;
	position: relative;
	right: 15px;
	display: block;
	min-width: 100%;
	box-sizing: border-box;
	margin-right: 15px;
}

#app>.right>div::before {
	content: " ";
	top: 10px;
	bottom: -10px;
	left: 10px;
	right: -10px;
	position: absolute;
	z-index: -1;
	/* to be below the parent element */
	background-color: var(--fancygreen);
}

.playerBox--wrapper h3 {
	padding: 0px;
	margin: 0px;
}

.playerBox--wrapper {
	position: absolute;
	left: 0;
	top: 40%;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
	padding: 10px;
	background-color: var(--darkgrey);
}

.playerBox--wrapper::before {
	content: " ";
	top: 10px;
	bottom: -10px;
	left: 10px;
	right: -10px;
	position: absolute;
	z-index: -1;
	/* to be below the parent element */
	background-color: var(--fancygreen);
}

#playersBox span {
	display: inline-block;
}

#playersBox .player {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	width: auto;
	display: block;
}

#playersBox .role {
	font-size: 11px;
}

#playersBox .role::before {
	content: "(";
}

#playersBox .role::after {
	content: ")";
}

#sendBtn {}

.message--wrapper {
	width: 100%;
	height: min-content;
	padding: 30px;
}

#messageBody {
	width: 100%;
}

.message--attachment>div {
	background-color: red;
	display: inline-block;
	width: 70px;
	height: 40px;
	margin-right: 20px;
}

.obejctive--wrapper {
	position: absolute;
	top: 25%;
	background-color: var(--darkgrey);
	padding: 10px;
	border: 1px solid black;
}

.obejctive--wrapper::before {
	content: " ";
	top: 10px;
	bottom: -10px;
	left: 10px;
	right: -10px;
	position: absolute;
	z-index: -1;
	/* to be below the parent element */
	background-color: var(--fancygreen);
}

.obejctive--wrapper>h3 {
	padding: 0px;
	margin: 0px;
}

#app.onTurn .scoreboard--wrapper {}

.inventory--wrapper {
	padding: 30px;
	
}

#inventory {
	background-color: gray;
	border: 1px solid black;
	height: 80%;
}

#inventory > div {
	background-color: red;
	display: inline-block;
	width: auto;
	margin-right: 20px;
	white-space: nowrap;
	padding: 5px;
}

.toolbar--wrapper {
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 4;
	height: 140px;
	overflow: hidden;
}

#toolbar {
	background-color: var(--darkgrey);
	border-radius: 4px;
	width: 50vw;
	position: absolute;
	margin: auto;
	bottom: -80px;
	overflow: hidden;
	height: 80px;
	overflow: hidden;
	transition: all 1s;
	margin: auto;
	box-sizing: border-box;
	right: 25vw;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.toolbar--wrapper:hover #toolbar {
	bottom: 5px;
}

.toolbar--wrapper:hover::after {
	bottom: 85px;
}

.toolbar--wrapper::after {
	content: "";
	border-bottom: 40px solid rgba(78, 78, 78, 0.5);
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 100px;
	position: absolute;
	z-index: -1;
	bottom: 0px;
	transition: all 1s;
	right: calc(50vw - 75px);
}

#toolbar > div {
	flex: 25;
	box-sizing: border-box;
	margin: 10px;
	background-color: blue;
	text-align: center;
}
.close {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 16px;
	height: 16px;
	opacity: 1;
}

.close:hover::after, .close:hover::before {
	width: 4px;
	left: 14px;
}

.close:before,
.close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 19px;
	width: 2px;
	background-color: red;
}

.close:before {
	transform: rotate(45deg);
}

.close:after {
	transform: rotate(-45deg);
}

.closedWindow {
	display: none !important;
}
#chat .close {
	bottom: 15px;
	top: unset;
	left: calc(50% - 16px);
	z-index: 9;
}
#chat .close::before, .close::after {
	z-index: 9;
}

#messageAttachment {
	background-color: grey;
	border: 1px solid black;
	height: 50px;
	max-width: calc(35vw - 60px);
    position: relative;
    overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
#messageAttachment > div {
	white-space: nowrap;
	width: auto;
	overflow: auto;
	display: inline-block;
	zoom: 1;
	float: none;
	min-width: 120px;
}

/* width */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: black; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }