@main: #41ce1a;

@orange: #FF7700;
@blue: #00B3FF;

@l-orange: #FFE591;
@l-blue: #ADE7FF;


@dark: #090C15;
@darkish: #151c30;

@pad: 0.5rem;

// GENERICS
   @font-face {
      font-family: 'Tron';
      src: url('./Tr2n.ttf') format('truetype');
   }

   body {
      /*TODO*/
      font-family: 'Source Code Pro', monospace;

      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100vh;
      margin: 0;
      
      background-color: @dark;

      box-sizing: border-box;
   }

   h3 {
      font-family: 'Tron';
      color: @orange;
      font-size: 2rem;
      margin: 0;
      font-weight: normal;
   }

   *, *::before, *::after { box-sizing: inherit; }

   button, input[type=text], a {
      outline: none;
      appearance: none;
      -webkit-appearance: none;
      border: none;
   }

   .flex_container {
      display: flex;
      flex-direction: column;
      margin: 0;
   }

   /*TODO*/

   .hidden {
      display: none;
   }

   button {
      cursor: pointer;
      
      padding: @pad;
      //border-radius: 0.3rem;
      cursor: pointer;
      height: 2rem;
      
      flex-direction: row;
      align-items: center;
      justify-content: center;
      
      font-family: 'Tron';
      font-size: 1.2rem;

      i {
         padding-right: @pad;
      }
   }

   button, input[type=text], a, textarea {
      outline: none;
      appearance: none;
      -webkit-appearance: none;
      border: none;
   }

   input[type=text] {
      background-color: transparent;
      //border-bottom: 1px solid @blue;
      font-size: 1rem;
      font-family: 'Source Code Pro', monospace;
      color: @blue;
   }

//
// Prompt
   .prompt {
      //font-family: 'Source Code Pro', monospace;
      display: flex;
      flex-direction: row;  

      width: 100%;
      span {
         margin-right: 6px;
         border: 0;
      }
   }

   .prompt_cmd {
      font-family: 'Source Code Pro', monospace;
      cursor: pointer;
      //background-color: @blue;
      color: @orange;
      //color: @l-blue;
   }

   .prompt_cmd:hover {
      background-color: @blue;
      color: @l-blue;
      
      //background-color: @l-orange;
   }
//
// Main
   #app {
      display: flex;
      flex-flow: row wrap;
   }

// Top bar
   .scoreboard--wrapper {
      width: 100%;


      padding: @pad;

      display: flex;
      background-color: @dark;
      border-bottom: 1px solid @blue;

      justify-content: center;
      align-items: center;
      color: @l-orange;

      font-family: 'Tron';
      font-size: 2rem;
   }

   #scoreboard {
      width: 100%;
      display: flex;
      justify-content: space-between;
   }

// Left
   #left {
      display: flex;
      flex-flow: column;
      //align-items: center;
      justify-content: space-between;

      // TODO
      height: 90vh;
      width: 50%;
      background-color: @l-orange;
   }

   .objective--wrapper {
      background: @dark;
      color: @blue;

      // TODO
      height: 10rem;

      padding: @pad;
      border-bottom: 1px solid @orange;
   }

   #msg-perimeter {
      font-size: 1.5rem;
      color: @orange;
      font-weight: bold;
   }

   .message--wrapper {
      width: 100%;
      background: @dark;
      height: 60%;
      padding: @pad;
   }

   .message--header, #messageBody {
      margin-left: @pad * 2;
      color: @l-orange;
   }

   .from, .to {
      color: @blue;
      font-weight: bold;
   }

   /*
   .target {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;

      li {
         //background: @orange;
         color: @orange;
         font-weight: bold;
         padding: @pad / 2;
         margin: @pad / 2;
         cursor: pointer;
         border: 2px solid @orange;
      }

      li:hover {
         background: @orange;
         color: @dark;
      }
   }
   */


   #messageBody {
      width: 80%;
      resize: none;
      background: @darkish;
      font-size: 1.2rem;
   }


   .inventory--wrapper {
      width: 100%;
      background: @dark;
      height: 40%;
      border-top:  1px solid @orange;
      border-bottom:  1px solid @orange;
      padding: @pad;

      color: @blue;
   }




// Right

   #right {
      #left();
      flex-direction: column;
      align-items: end;
   }
//
//CHAT

   .chat--wrapper {
      background: @orange;
      position: fixed;
      right: 0;
      bottom: 0;
      z-index: 999;

      overflow-y: scroll;

      height: 50vh;
      width: 28vw;
   }

   .chat--body_container {
      width: 100%;
      //height: 100%;
      display: flex;
      flex-flow: column;
      padding: @pad;
   }

   .chat--item {
      padding: @pad;

      //color: @l-blue;
      height: 4rem;
      width: 100%;

      display: flex;
      flex-flow: column;
      align-items: flex-start;

   }

   .chat_right {
      align-items: flex-end;
      border: 1px solid @orange;

      .chat--name {
         border-right: 2px solid @dark;
         border-left: 0;
      }
   }

   .chat--name {
      font-weight: bold;
      color: @dark;
      border-left: 2px solid @dark;
      border-top: 2px solid @dark;
      padding: 0 @pad;
   }

   .chat--message {
      width: 100%;
      background: @dark;
      color: @blue;
      padding: @pad;
   }

   .chat--input_container {
      background: @l-blue;
      
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      //align-items: center; 
      
      position: fixed;
      bottom: 0;
      right: 0;
      
      width: 28vw;
      height: 3rem;
   }

   #chat_prompt {
      color: @blue;
      background: @darkish;
      font-size: 2rem;
      display: flex;

      align-items: center;
      padding: 0 @pad;
      height: 100%;
   }

   #chatInput {
      background: @darkish;
      width: 100%;
   }

   #chatSendBtn {
      background: @dark;
      color: @orange;
      height: 100%;
   }


/*
// OLD

#chat {
	background-color: grey;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 300px;
	height: 440px;
	border-radius: 10px;
	z-index: 5;
}

#chat::after {
	content: " ";
	background-color: var(--darkgrey);
	z-index: 1;
	position: absolute;
	bottom: 2px;
	left: calc(50% - 20px);
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#chat::before {
	content: " ";
	background-color: var(--darkgrey);
	z-index: 44;
	position: absolute;
	right: -5px;
	width: 10px;
	height: 40px;
	top: 20%;
	border-radius: 4px;
	z-index: -1;
}

.chat--body_container {
	background-color: blue;
	width: calc(100% - 30px);
	height: calc(100% - 60px);
	margin: 15px;
	padding-bottom: 40px;
	box-sizing: border-box;
	border-radius: 10px;
}

.chat--input_container {
	position: absolute;
	bottom: 50px;
	width: calc(100% - 40px);
	left: 20px;
	right: -20px;
}

.chat--input_container #chatSendBtn {
	float: right;
}

.chat--item {
	display: block;
	background-color: greenyellow;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
}

.chat--name {
	font-weight: 900;
	text-transform: capitalize;
	font-size: 13px;
	background-color: coral;
	padding-left: 10px;
	padding-right: 10px;
}

.chat--message {
	font-size: 12px;
}

.chat--item.right>.chat--name {
	float: right;
}
*/