/* chat messageboard */

#chat {
  background-color: red;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  z-index: 4;
}

.chat--container {
  background-color: blue;
  width: calc(100% - 30px);
  height: calc(100% - 60px);
  margin: 15px;
  border-radius: 10px;
}

.chat--item {
  display: block;
  background-color: greenyellow;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.chat--name {
  font-weight: 900;
  text-transform: capitalize;
  font-size: 13px;
  background-color: coral;
  padding-left: 10px;
  padding-right: 10px;
}
.chat--message {
  font-size: 12px;
}
.chat--item.right > .chat--name {
  float: right;
}

/* main app */
#app {
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px; 
background-color: pink;
}

.scoreboard--wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 5;
  background-color: blue;
  height: 70px;
}

.scoreboard {
  margin: auto;
  max-width: 20vw;
  width: auto;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  font-weight: 900;
  background-color: red;
  border-radius: 10px;
}

.window--wrapper {
  position: relative;
  height: 70vh;
  background-color: rgba(30,40,30,0.2);
  top: 150px;
}

#window {
  max-width: 40vw;
  margin: auto;
  height: 100%;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: red;
  font-size: 26px;
  cursor: pointer;

}

#app > .left {
  width: 65%;
  position: relative;
  z-index: 3;
  height: 100%;
  background-color: grey;
}

#app > .right {
  width: 35%;
  position: relative;
  z-index: 3;
  height: 100%;
  background-color: greenyellow;
}